@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --background: #2f2f2f;
    --foreground: #f6f6f6;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: #fff;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  .menubar {
    margin: 0;
    display: inline-flexbox;
    flex-direction: row;
    justify-content: center;
    text-align: right;
  }

  .menubutton {
    font-size: 12px;
    padding: 0.6em 1.2em;
    margin: 4px;
  }

  input,
  button {
    cursor: pointer;
    transition: 0.75s;
    border: none;
    text-align: left;
    background: transparent;
    opacity: 70%;
    font-family: inherit;
    color: #f6f6f6;
  }

  button:hover {
    opacity: 100%;
    filter: drop-shadow(0 0 0.8em white);
  }

  .actions {
    display: flex;
    bottom: 5vh;
    position: absolute;
    padding: 8vh;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
  }

  .actionbutton {
    font-size: 3em;
    text-align: left;
  }

  .subaction {
    font-size: 0.8em;
    padding: 5vh 0.7vw;
    text-align: left;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
